<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Nhà tuyển dụng</h1>
    <ul>
      <li>
        <a th:href="@{/employers/add}">Thêm nhà tuyển dụng</a>
      </li>
      <li>
        <a th:href="@{/employers}">Danh sách nhà tuyển dụng</a>
      </li>
    </ul>

    <h1>Việc làm</h1>
    <ul>
      <li>
        <a href="">Tạo việc làm</a>
      </li>
      <li>
        <a href="">Danh sách việc làm</a>
      </li>
    </ul>

    <h1>Ứng viên</h1>
    <ul>
      <li>
        <a href="">Thêm ứng viên</a>
      </li>
      <li>
        <a href="">Danh sách ứng viên</a>
      </li>
    </ul>
</body>
</html>